@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
    z-index: -111111111;
    width: 0.2vw;
    height: 0.2vw;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100%;
    z-index: -111111111;
    position: fixed;
    right: 0;
}

::-webkit-scrollbar-track {
    z-index: -11111111;
    position: fixed;
    right: 0;
    background: transparent;
}
